# .gitignore

# Python cache files
__pycache__/
*.pyc
.pytest_cache/

# Running conf file from template
hub_telemetry.conf
wx-helios.conf

runtime/
log/
!log/README.md

# IDE/editor temporary files
*.swp
*.swo
*.bak
*.tmp
.venv/

