# .gitignore

# Python cache files
__pycache__/
*.pyc

# Running conf file from template
hubTelemetry.conf

# Telemetry sequence file (runtime state)
telemetry.seq

# IDE/editor temporary files
*.swp
*.swo
*.bak
*.tmp

